{% apply inline_css %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&family=Smooch&display=swap');
        body {
            margin: 0;
            font-family: 'Quicksand', sans-serif;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
        h1 {
            font-family: 'Smooch', cursive;
            font-size: 60px;
            color: #cfd8dc;
            margin-bottom: 15px;
        }
        img {
            width: 100vw;
        }
        a {
            color: #808e95;
            font-weight: bold;
            text-decoration: none;
        }
        .cellText {
            text-align: center;
            padding: 14px;
        }
        .background {
            background-color: #121212;
            color: #f8f8ff;
        }
        .invitation-link {
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 8px;
            border-radius: 4px;
            border: 1px solid #808e95;
        }
        .and {
            color: #808e95;
        }
    </style>
    <table>
        <thead>
        <tr>
            <th colspan="1" style="width: 15%;"></th>
            <th colspan="1" style="width: 70%;"></th>
            <th colspan="1" style="width: 15%;"></th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td class="background">
                    <img src="{{ email.image('@images/mail_banner.jpeg') }}" width="100%" alt="Logo">
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td class="background cellText">
                    <h1>Claudia <span class="and">&</span> Vincent</h1>
                </td>
                <td></td>
            </tr>
            <tr>
            <tr>
                <td></td>
                <td class="background cellText">
                    Ils vous attendent à 15h pour la cérémonie laïque qui sera suivie d'un vin d'honneur.
                </td>
                <td></td>
            </tr>
                {% if drink %}
                    <tr>

                    </tr>
                {% else %}
                    <tr>
                        <td></td>
                        <td class="background cellText">Ils vous attendent à 15h pour la cérémonie laïque qui sera suivie d'un vin d'honneur et d'un diner.</td>
                        <td></td>
                    </tr>
                {% endif %}
                <tr>
                    <td></td>
                    <td class="background cellText">Afin de préserver leurs nerfs fragiles, merci de confirmer votre venue avant le 1er mai via la lien suivant :</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="background cellText">
                        <a href="{{ siteUrl }}/invitation?email={{ mail }}" target="_blank" class="invitation-link">
                        Répondre à mon invitation
                        </a>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="background cellText"> En cas de questions ou problème, envoyez un mail à
                        <a href="mailto:vincent.racelle@gmail.com">
                            vincent.racelle@gmail.com
                        </a></td>
                   <td></td>
                </tr>
        </tbody>
    </table>

{% endapply %}
